//Font variables
$rootFont: "Figtree", sans-serif;
$fontColor: #14213d;
$fontStrikeColor: gray;

//Header & nav variables
$headerBorderColor: #e5e5e5;

//button variables
$btnBgColor: #14213d;
$btnFontColor: white;

//Table variables
$tableHoverColor: #e5e5e5;

//Others
$footerBgColor: #e5e5e5;